@import '../../base.scss';

.popup{
    box-sizing: border-box;
    position: relative;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .8);
    top: 0;
    left: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
    z-index: 4000;
}